# Unity
.utmp/
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.log

# MemoryCaptures and Recordings
[Mm]emoryCaptures/
[Rr]ecordings/

# Assets & Plugins
[Aa]ssets/AssetStoreTools*
[Aa]ssets/Plugins/Editor/JetBrains*
*.DotSettings.user

# IDEs
.vs/
.vscode/
.idea/
.gradle/
.consulo/
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
mono_crash.*

# Builds
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# FMOD Studio
.unsaved/
.user/
fmod project/**/Build/
fmod project/**/Cache/
*.fspro.user

# Version Control
.plastic/

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Addressables
/ServerData
[Aa]ssets/StreamingAssets/aa*
[Aa]ssets/AddressableAssetsData/link.xml*
[Aa]ssets/Addressables_Temp*
[Aa]ssets/AddressableAssetsData/*/*.bin*

# Visual Scripting
[Aa]ssets/Unity.VisualScripting.Generated/
